#headerLabel, #dialogTitle
{
    font-weight: bold;
}

#background
{
    background-color: #e6f2ff;
}

#overlay-grid
{
    background-color: #eeeeee;
    border: 2px outset #787878;
    border-radius: 8px;
    box-shadow: 4px 4px 3px black;
}

#overlayButtonHide
{
    background-image: -gtk-gradient (linear, left top, left bottom, from (#e6f2ff), to (#e6f2ff));
}

#assistant_speech_box
{
    font-family: "Comic sans ms", "Arial";
    color: #333333;
    background-color: #ffffff;
    border: 2px outset #787878;
    border-radius: 8px;
    margin-left: 4px;
}

#rightMenu
{
    background-color: #e6f2ff;
    box-shadow: -2px 0px 2px rgba(0,0,0,0.6);
}

#rightMenu #menuButton
{
    color: #333333;
    background-image: -gtk-gradient (linear, left top, left bottom, from (#e6f2ff), to (#e6f2ff));
    border-radius: 0px;
    border: 0px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #b3d9ff;
}

#rightMenu #menuButton:hover
{
    color: green;
    background-image: -gtk-gradient (linear, left top, left bottom, from (#ffffff), to (#ffffff));
}

#rightMenu #menuButton:active
{
    background-image: -gtk-gradient (linear, left top, left bottom, from (#b3d9ff), to (#b3d9ff));
}

#rightMenuTitlePanel
{
    background-color: #99ccff;
    border-bottom: 2px solid #66b3ff;
    border-top: 2px solid #e6f2ff;
}

#rightMenuTitle
{
    font-size: 18px;
    color: #333333;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#configEntry
{
    background-color: #e6f2ff;
    border-bottom: 1px solid #b3d9ff;
    border-top: 2px solid #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#userDialog, #newUserDialog
{
    border-radius: 6px;
    border: 2px outset #666666;
}

#createUserTitle
{
    color: #333333;
    font-size: 24px;
}

#createUserChooser
{
    border: 0px solid black;
    border-radius: 0px;
    background-image: none;
}

#createUserChooser:hover
{
    border-radius: 10px;
    background-image: -gtk-gradient (linear, left top, left bottom, from (#b3d9ff), to (#b3d9ff));
}

#createUserChooser:active
{
    background-image: -gtk-gradient (linear, left top, left bottom, from (#99ccff), to (#99ccff));
}

#createUserError
{
    color: red;
}

#createUserErrorValid
{
    color: green;
}

#scoreHeader
{
    font-family: "Comic sans ms";
    background-color: #66b3ff;
    font-size: 18px;
    color: #333333;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-radius: 4px;
    border-bottom: 2px solid #e6f2ff;
    border-top: 2px solid #66b3ff;
}

#score
{
    color: #525152;
    font-size: 16px;
    font-family: "Comic sans ms";
    background-color: #e6f2ff;
}